/* Poppins Font - Static Files */

/* Poppins Light 300 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./Poppins-Light.woff2') format('woff2'),
       url('./Poppins-Light.woff') format('woff');
}

/* Poppins Regular 400 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Poppins-Regular.woff2') format('woff2'),
       url('./Poppins-Regular.woff') format('woff');
}

/* Poppins Medium 500 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./Poppins-Medium.woff2') format('woff2'),
       url('./Poppins-Medium.woff') format('woff');
}

/* Poppins SemiBold 600 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./Poppins-SemiBold.woff2') format('woff2'),
       url('./Poppins-SemiBold.woff') format('woff');
}

/* Poppins Bold 700 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./Poppins-Bold.woff2') format('woff2'),
       url('./Poppins-Bold.woff') format('woff');
}

